[submodule "services/core-api"]
	path = services/core-api
	url = https://gitlab.waffly.xyz/inner-voice/civic-ai/core-api.git
[submodule "services/complaint-analyzer"]
	path = services/complaint-analyzer
	url = https://gitlab.waffly.xyz/inner-voice/civic-ai/complaint-analyzer.git
[submodule "services/task-manager"]
	path = services/task-manager
	url = https://gitlab.waffly.xyz/inner-voice/civic-ai/task-manager.git
